<p style="color: green"><%= notice %></p>

<h1><%= @category.name %> Exchanges</h1>

<p>Total Amount: <%= @category.exchanges.sum(:amount) %></p>

<% @category.exchanges.order(created_at: :desc).each do |exchange| %>
  <div>
    <h3><%= exchange.name %></h3>
    <p>Amount: <%= exchange.amount %></p>
  </div>
<% end %>

<%= link_to "New exchange", new_category_exchange_path(@category) %>
<%= link_to "Back", categories_path %>
