<h1>Add a new exchange for <%= @category.name %></h1>

<%= form_with(model: [@category, @exchange]) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>

  <%= form.hidden_field :author_id, value: current_user.id %>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>

