<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<% @categories.each do |category| %>
  <div>
    <h3><%= category.name %></h3>
    <p>Icon: <%= category.icon %></p>
    <img src="<%= category.icon%> alt="image"/>
    <p>Total Amount: <%= category.exchanges.sum(:amount) %></p>
    <%= link_to 'View Exchanges', category_exchanges_path(category) %>
  </div>
<% end %>

<%= link_to "New category", new_category_path %>
